**Theoritical Questions**

1) What are data structures, and why are they important?
 - Data structures in python are methods to store the data in organizing order for accessing and manipulating the data efficiently.
 - Below are the methods of data structures:
  - 1)Strings
  - 2)Lists
  - 3)tuples
  - 4)Sets
  - 5)Dictionary

In [ ]:
# 2) Explain the difference between mutable and immutable data types with examples?
"""
- mutable datatypes: here in this category we can modify/change the data to our data sets by using different built-in functions or indexing.
- examples of mutable data types are: sets,lists,dictionary.

--> immutable data types: in this category we cannot modify/change the data in the object here hash value is always stable.
- examples of immutable data types are: Tuples,strings.

"""
#example for mutable data type
lis=[1,2,3]
lis.append(4) # here we are adding one new element to the object lis.
print(lis)

#--------------#

#example for Immutable data type
string1="pwskills"
# string1[1]="s" --> here we will get the error like 'str' object does not support item assignment because they are immutable same as like tuples
print(string1)

[1, 2, 3, 4]
pwskills

3) What are the main differences between lists and tuples in Python?
- Lists are mutable whereas, tuples are immutable
- in lists we can modify the data because they are mutable in nature and it supports item assignment
- in tuples we cannot modify the data because they are immutable in nature and it does not supports item assignment

4) Describe how dictionaries store data?
- Dictionaries store data in the form of key value (key:value) pairs. and it's represented as {}.
- eg: person_info={"name":"moulali","age":25",city":"Guntur"}

5) Why might you use a set instead of a list in Python?
- see, in lists we can store data which are non-unique also so,here in lists duplicates also will be there.
- so i will go with sets when i want unique collection of items so that in my data set i should not have duplicates elements.

6) What is a string in Python, and how is it different from a list?
- A string in python is a immutable sequence of characters enclosed within a double,single and triple quotes(" " or ' ') and it holds only character data which cannot be changed after it's created.
- eg: string1="pwskills"
- in string we don't have a property like list where we can modify the data to the string object.
- typically string contains only homogeneous data (no mixed data types only characters) where as in list it contains heterogeneous data it contains any data type inside it.

7) How do tuples ensure data integrity in Python?
- Tuples are immutable in nature hence once after we created we cannot alter the data set
- since, tuples are cannot be altered their content remains same in the entire program execution.
- whenever we want to store the unique data which should not be change in the future like(aadhar number,pan number,employee_id) we can go with tuples because once we created we cannot change the content
- Only immutable types are hashable in Python. Because tuples are built-in immutable, they can function as dictionary keys or elements of a set, where consistency and fixed identity are essential

8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table (also known as a hash map) is a specialized data structure for storing key–value pairs. It uses a hash function to compute a numeric hash code for a key, which determines the index (bucket) in an underlying array where the value is stored.
- Python's built-in dict is an implementation of a hash table, specifically designed to behave like an associative array or mapping.
- When we perform d[key] = value, Python internally computes hash(key) and uses that value to locate the appropriate bucket.

9) Can lists contain different data types in Python?
- Yes, lists contain any type of data because they are heterogeneous.
- lists are unordered collection of items with heterogeneous data.
- eg: lis=["shaik moulali","asif",1,2.3,True]

10) Explain why strings are immutable in Python?
- strings, once created we cannot change the elements in the object.
- Immutable objects have a stable hash value. If strings could change, they would break hash-based data structures like dictionaries so they should be immutable.

11)  What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries can allows us to take the values fastly by using unique keys based on hash table implementation. if we are having a large dataset also we can retrieve the values very fastly and efficiently by using unique keys in dictionaries. while as in list interpreter will check each and every element for the values so here data retrieval might be slow in lists.
- in dictionaries each key must be unique (values can be duplicate) through this facility in dictionary they prevent duplicates records and maintain data integrity. while as in lists if elements are duplicate can lead to ambiguity when identifying an item.

12)  Describe a scenario where using a tuple would be preferable over a list?
- Using a tuple is preferable over a list when we need to store data that should remain constant and unchangeable throughout the program. Tuples are immutable, meaning once they are created, their elements cannot be modified, added, or removed. This immutability ensures data integrity and can lead to performance optimizations.
- when dealing with data that should remain constant and unaltered, such as personal identifiers, using a tuple is the appropriate choice in Python programming
 - example: Aadhar number,pan number, emp_id

13)  How do sets handle duplicate values in Python?
- In python, sets are automatically eliminate duplicate values because sets are unordered collection of unique elements only. if we are trying to add the duplicate values in the data set  python will not give any error but it eliminates the duplicate values automatically.
 - eg: {"apple","apple","banana","banana","mango"}
 - result: {"apple","banana","mango"}

14)  How does the “in” keyword work differently for lists and dictionaries?
- **IN with list**:
 - IN keyword: purpose is to check whether the value is present in the list or not.and it will search until the matching item finds.
  - eg: a=[1,2,3,4]
  - b=2
  - if b in a:
      - print(f"{b} value is present in list a")
- **IN with dictionaries**:
  - By default **IN** checks for keys not values and it look's for the key in dictionary based on hash table structure. if we want to check for values we should a.values() function.
   - eg: a={"name":"shaik moulali","city":"guntur"}
   - b="name"
   - if b in a:
      - print(f"{b} key is present")
    - else:
      - print(f"{b} key is not present")

15) Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple because they are containing stable hash values meaning we cannot modify/add/remove the elements to the tuple due to the immutability in nature.
- if we are attempting to change/modify the elements in tuple python interpretor will raise an error.
 - a=(1,2,3)
 - a[1]=5 # here we are attempting to change the value to 5 so we will get an error saying, item assignment is not supported here.

16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is simply a dictionary whose values includes other dictionaries This let's us organize data in a hierarchical, multi‑level structure. we can nest dictionaries as many levels we needed.
- #Real-world use case example of student_info.
-Students={"student_1":{"name":"shaik moulali","age":25,"city":"guntur"},
    "student_2":{"name":"fazal","age":25,"city":"Vizag"},
   "student_3":{"name":"Imran","age":25,"city":"Vijayawada"}}
-print(Students["student_1"]["age"])

In [ ]:
#Real-world use case example of student_info.
Students={"student_1":{"name":"shaik moulali","age":25,"city":"guntur"},
    "student_2":{"name":"fazal","age":25,"city":"Vizag"},
   "student_3":{"name":"Imran","age":25,"city":"Vijayawada"}}
print(Students["student_1"]["age"])

25

17) Describe the time complexity of accessing elements in a dictionary?
- Python dictionaries uses a hash table whenever, we are accessing the value. for example:, value=d["name"] python internally search for the key's hash value and find it's slot in constant time and it's average time is 0(1).
- in rare cases while searching for the key's hash there might be having multiple keys and so in that time python will go and check the each key throughly and retrive it's value so here time might take 0(n). where n is number of items python is searching but this case case is extremely rare.

18) In what situations are lists preferred over dictionaries?
- we can go with lists when we need order sequence of elements matters.like: first-come-first-served data
- when we are frequently adding/appending and extending the data to the data set.
- when we want to allow the duplicates regularly in order. but in dictionaries keys won't allow duplicates.
- whenever we want to work with indexes and slicing then we have to go with list only whereas in dictionaries they don't Support Indexing by Position.

19) Why are dictionaries considered unordered, and how does that affect data retrieva1?
- Before python 3.7 dictionaries are unordered so, while looping with functions like .get(key),.items() the retrieving values might not be in order and iteration will be unpredictable.
- but, Python 3.7 and Later dictionaries are considered as order means when when we iterating with .get(key),.items(),.keys() the key,values we will get in order. but still we cannot access them with indexing if we are doing (D[0]) so, will get an error.

20) Explain the difference between a list and a dictionary in terms of data retrieval?
- in list we will retrieve the data by using indexing or positioning of an element where as in dictionary we can access the value by using keys only.
or with .get(key) method.
 - eg: a= [1,"moulali","apple",2,3]
 - a[1] # -->'moulali' accessing the list by using indexing
-  **example of data retrieval of dictionary**
 - a={"name"="ali","age"=25}
 - a["name"]#--> here we should access the value only with key only.

**Practical Questions**

In [ ]:
# 1) Write a code to create a string with your name and print it?

name="shaik moulali"
print(name)

shaik moulali

In [ ]:
# 2) Write a code to find the length of the string "Hello World"?

str1="Hello World"
b=len(str1)
print(b)

11

In [ ]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming"?

name="Python Programming"
slice1=name[0:3:1]
print(slice1)

Pyt

In [ ]:
# 4) Write a code to convert the string "hello" to uppercase?

str1="hello"
print(str1.upper())

HELLO

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?

str1="I like apple"
name=str1.replace("apple","orange")
print(name)

I like orange

In [ ]:
# 6)  Write a code to create a list with numbers 1 to 5 and print it?

lis=[1,2,3,4,5]
for i in lis:
  lis1=print(i,end=' ')

1 2 3 4 5

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]?

lis=[1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [ ]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

lis=[1, 2, 3, 4, 5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [90]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

lis=['a', 'b', 'c', 'd']
b=lis[1]
print(b)

b

In [ ]:
# 10)  Write a code to reverse the list [10, 20, 30, 40, 50]?

lis=[10, 20, 30, 40, 50]
print(lis[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it?

tup=(100, 200, 300)
print(tup)
# or
for i in tup:
  print(i,end=' ')

(100, 200, 300)
100 200 300

In [ ]:
# 12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

tup=('red', 'green', 'blue', 'yellow')
print(tup[-2])   # from last-to-second element
print(tup[1:4])  #or print(tup[1:]) # from 2 element to last

blue
('green', 'blue', 'yellow')

In [ ]:
# 13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

tup=(10, 20, 5, 15)
minimum_number=min(tup)
print(minimum_number)

5

In [ ]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

tup=('dog', 'cat', 'rabbit')

print(tup.index("cat"))

1

In [ ]:
# 15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

tup=("papaya","orange","kiwi")
search_word="kiwi"
if search_word in tup:
  print(f"{search_word} is present in the tuple")
else:
  print(f"{search_word} is not present in the tuple")

kiwi is present in the tuple

In [ ]:
# 16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it?

set1={'a', 'b', 'c'}
print(set1)
#or
for i in set1:
  print(i,end=' ')

{'b', 'a', 'c'}
b a c

In [ ]:
# 17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

set1={1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [ ]:
# 18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}?

set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
# 19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

set1={1, 2, 3}
set2={3, 4, 5}

union_set=(set1|set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

set1={1, 2, 3}
set2={2, 3, 4}

intersection_set=set1.intersection(set2)
print(intersection_set)
#or
# intersection_set=(set1&set2)
# print(intersection_set)

{2, 3}

In [ ]:
# 21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

dic1={"name":"shaik moulali","age":25,"city":"Guntur"}
for i in dic1.items():
  print(i)

('name', 'shaik moulali')
('age', 25)
('city', 'Guntur')

In [ ]:
# 22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

dic1={'name': 'John', 'age': 25}
dic1["country"]="USA"
# or
dic1.update({"country":"USA"})
print(dic1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

dic1={'name': 'Alice', 'age': 30}
a=dic1["name"]
print(a)
# or
b=dic1.get("name")
print(b)

Alice
Alice

In [ ]:
# 24)  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

dic1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic1.pop("age")
print(dic1)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

dic1={'name': 'Alice', 'city': 'Paris'}

if "city" in dic1.keys():
  print("city is present in the dictionary")
else:
  print("it is not present")

city is present in the dictionary

In [ ]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all?

A_list=[1,2,3,4,5]
B_tuple=(1,2,3,4,5)
c_dictionary={"name":"shaik moulali","age":25}
print("List is: ",A_list)
print("Tuple is: ",B_tuple)
print("Dictionary is: ",c_dictionary)

List is:  [1, 2, 3, 4, 5]
Tuple is:  (1, 2, 3, 4, 5)
Dictionary is:  {'name': 'shaik moulali', 'age': 25}

In [ ]:
''' 27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''

lis=[10,23,0,1,5]
a=sorted(lis)
print(a)

[0, 1, 5, 10, 23]

In [ ]:
# 28)  Write a code to create a list with strings and print the element at the third index?

lis=["Moulali","Imran","fazal","Asif","Haseeb"]
print(lis[3])

Asif

In [ ]:
# 29) Write a code to combine two dictionaries into one and print the result?

dic1={"name":"Moulali","age":25,"city":"Guntur"}
dic2={"name":"Moulali","Graduation":"B-tech"}
final_dict=dic1|dic2
print("combiation of two dictionaries are : ",final_dict)

combiation of two dictionaries are :  {'name': 'Moulali', 'age': 25, 'city': 'Guntur', 'Graduation': 'B-tech'}

In [ ]:
# 30)  Write a code to convert a list of strings into a set?

lis=["Moulali","Imran","fazal","Asif","Haseeb"]
set1=set(lis)
print(set1)

{'Moulali', 'Asif', 'Imran', 'fazal', 'Haseeb'}